{
    "openapi": "3.1.0",
    "info": {
        "title": "Property APIs",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.realestateapi.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "sec0": {
                "type": "apiKey",
                "in": "header",
                "name": "x-api-key"
            }
        }
    },
    "security": [
        {
            "sec0": []
        }
    ],
    "paths": {
        "/v1/PropertyParcel": {
            "post": {
                "summary": "Property Boundary API",
                "description": "Shape files API and property search API.  All requests return the parcel boundaries in GEOJSON format.  Quickly implement this API into your mapping applications.  \n\nQuestions on how to best implement this API into your map?  Just reach out to our team for best practices with using this API.",
                "operationId": "property-parcel-api",
                "parameters": [
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "description": "Denote a unique user identifier to this api call by passing it in this header field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "description": "A property ID from any Property Search API result record. If this ID is provided, no other fields are required",
                                        "format": "int32"
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "A fully formatted address with the following format: 123 Main St, Arlington VA 22205. When this field is provided and is in the valid format, no other fields are required"
                                    },
                                    "house": {
                                        "type": "string",
                                        "description": "House number field is to be used with the street, city, state, and zip fields (& unit if applicable)"
                                    },
                                    "unit": {
                                        "type": "string"
                                    },
                                    "street": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "The state code for the desired state (e.g. Virginia = VA)"
                                    },
                                    "county": {
                                        "type": "string"
                                    },
                                    "zip": {
                                        "type": "string",
                                        "description": "5-digit zipcodes only"
                                    },
                                    "apn": {
                                        "type": "string"
                                    },
                                    "fips": {
                                        "type": "string"
                                    },
                                    "radius": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "format": "double"
                                    },
                                    "polygon": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "lat": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lon": {
                                                    "type": "number",
                                                    "format": "double"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "resultIndex": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "size": {
                                        "type": "integer",
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/PropertyDetail": {
            "post": {
                "summary": "Property Detail API",
                "description": "Comps, Mortgages, Mailing Addresses, Property Sales History & More!",
                "operationId": "property-detail-api-1",
                "parameters": [
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "description": "Denote a unique user identifier to this api call by passing it in this header field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "The \"id\" property from the Property Search API result objects. If using this unique property ID for Property Detail, then no other fields are required."
                                    },
                                    "comps": {
                                        "type": "boolean",
                                        "description": "Set to true if you would like to have houses nearby with conferable valuations returned as part of the response. ***Includes RealEstateAPI's special AVM for the property***",
                                        "default": false
                                    },
                                    "exact_match": {
                                        "type": "boolean",
                                        "description": "only return matches that match your exact address or address parts, no fuzzy matching"
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "A fully formatted address with the following format: 123 Main St, Arlington VA 22205. When this field is provided and is in the valid format, no other fields are required"
                                    },
                                    "house": {
                                        "type": "string",
                                        "description": "House number field is to be used with the street, city, state, and zip fields (& unit if applicable)"
                                    },
                                    "unit": {
                                        "type": "string",
                                        "description": "House unit number (for Apt. #'s, Suite #'s, etc.)"
                                    },
                                    "street": {
                                        "type": "string",
                                        "description": "The street name of the property (e.g. Main St)"
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "The city where the property is located"
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "The 2 character state code for the property's state (e.g. VA = Virginia)"
                                    },
                                    "county": {
                                        "type": "string",
                                        "description": "(*This field is not required for a fully formatted address*) The county where your search property is located."
                                    },
                                    "zip": {
                                        "type": "string",
                                        "description": "Zipcodes need to be 5 digits"
                                    },
                                    "apn": {
                                        "type": "string",
                                        "description": "The assessor's parcel number (APN) is a unique identifier for an address/parcel & is particularly helpful when looking up Land Parcels without House Numbers"
                                    },
                                    "fips": {
                                        "type": "string",
                                        "description": "String of Length 5"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  input: {\n    house: '17',\n    street: 'Topeka Pass',\n    city: 'Willingboro',\n    state: 'NJ',\n    zip: '08046'\n\t},\n  data: {\n      ownerInfo: [Object],\n      deedInLieu: false,\n      lotInfo: [Object],\n      preForeclosure: false,\n      absenteeOwner: false,\n      warrantyDeed: false,\n      lastSaleDate: '2021-12-16',\n      id: 190787647,\n      currentMortgages: [Array],\n      taxLien: false,\n      adjustableRate: false,\n      vacant: false,\n      mobileHome: false,\n      sheriffsDeed: false,\n      spousalDeath: false,\n      equityPercent: 100,\n      estimatedEquity: 349267,\n      inStateAbsenteeOwner: false,\n      reapi_loaded_at: '0',\n      priorId: 1788050590,\n      death: false,\n      cashBuyer: true,\n      mortgageHistory: [],\n      ownerOccupied: true,\n      outOfStateAbsenteeOwner: false,\n      quitClaim: false,\n      deathTransfer: false,\n      bankOwned: false,\n      propertyInfo: [Object],\n      last_sale: [Object],\n      estimatedValue: 349267,\n      lien: false,\n      propertyType: 'SFR',\n      corporateOwned: false,\n      openMortgageBalance: 0,\n      privateLender: false,\n      taxInfo: [Object],\n      \"demographics\" : {\n\t\t\t\t\"medianIncome\" : \"130336\",\n \t\t\t\t\"suggestedRent\" : \"3010\",\n\t\t\t\t\"fmrYear\": \"2023\",\n\t\t\t\t\"fmrEfficiency\" : \"1750\",\n\t\t\t\t\"fmrOneBedroom\" : \"1780\",\n\t\t\t\t\"fmrTwoBedroom\" : \"2020\",\n\t\t\t\t\"fmrThreeBedroom\" : \"2530\",\n\t\t\t\t\"fmrFourBedroom\" : \"3010\",\n\t\t\t\t\"hudAreaName\" : \"Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area\",\n  \t\t\t\"hudAreaCode\" : \"METRO47900M47900\"\n\t\t\t},\n      saleHistory: [Array],\n      cashSale: false,\n      foreclosureInfo: [],\n      inherited: false,\n      trusteeSale: false,\n      lastSalePrice: '350000',\n      equity: 274800,\n      comps: [],\n      reapiAvm: null\n    },\n    statusCode: 200,\n    statusMessage: 'Success',\n    credits: 0,\n    live: true,\n    requestExecutionTimeMS: '40ms',\n    propertyLookupExecutionTimeMS: '40ms',\n    compsLookupExecutionTimeMS: null\n  }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "400",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  statusCode: 400,\n  error: 'Bad Request',\n  message: '\"value\" must be of type object',\n  validation: { source: 'payload', keys: [ '' ] }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "401",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  statusCode: 401,\n  error: 'Unauthorized Request',\n  message: 'x-api-key must be valid',\n  validation: {}\n}"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "404",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  statusCode: 404,\n  error: 'Not Found',\n  message: '',\n  validation: { }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "429",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  statusCode: 429,\n  error: 'Rate Limit Exceeded',\n  message: '',\n  validation: { }\n}"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "500",
                        "content": {
                            "text/plain": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  statusCode: 500,\n  error: 'Server Error, Please Contact Support (dev@realestateapi.com)',\n  message: '',\n  validation: { }\n}"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/v2/PropertyDetailBulk": {
            "post": {
                "summary": "Property Detail Bulk API",
                "description": "For retrieving of up to 1000 properties at once.  Can be used standalone, but it's designed to work together with the Property Search API.  Use this API for quickly exporting lists, or bulk search requests for analytics.  Pass in addresses, or a list of ID's returned from the Property Search API.",
                "operationId": "property-detail-bulk-api",
                "parameters": [
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "description": "Denote a unique user identifier to this api call by passing it in this header field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "ids"
                                ],
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "description": "List of property ids returned in the response of our Property Search API",
                                        "items": {
                                            "type": "integer",
                                            "format": "int32"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "200",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Result": {
                                        "value": "{\n  input: {\n    ids: [<<Your input property ids>>]\n  },\n  data: [\n     \t\"id\": 175203,\n      \"priorId\": 1814285802,\n      \"vacant\": true,\n      \"equity\": 194668,\n      \"ownerInfo\": {\n          \"ownerOccupied\": true,\n          \"absenteeOwner\": false,\n          \"instateAbsenteeOwner\": false,\n          \"outOfStateAbsenteeOwner\": false,\n          \"corporateOwned\": false,\n          \"ownershipLength\": 6,\n          \"owner1FirstName\": \"BRIENNA\",\n          \"owner1LastName\": \"BAILEY\",\n          \"owner1FullName\": \"BRIENNA SHOWALTER BAILEY\",\n          \"owner2FirstName\": \"NOEL\",\n          \"owner2LastName\": \"NOEL\",\n          \"owner2FullName\": \"NOEL\",\n          \"mailAddress\": {\n              \"fips\": \"41051\",\n              \"house\": \"3584\",\n              \"address\": \"3584 SE HOLGATE BLVD\",\n              \"street\": \"HOLGATE\",\n              \"preDirection\": \"SE\",\n              \"streetType\": \"BLVD\",\n              \"city\": \"PORTLAND\",\n              \"state\": \"OR\",\n              \"zip\": \"97202\",\n              \"zip4\": \"3359\",\n              \"carrierRoute\": \"C033\",\n              \"addressFormat\": \"S\",\n              \"label\": \"3584 SE HOLGATE BLVD, PORTLAND, OR 97202\"\n          },\n          \"equity\": 194668\n      },\n      \"propertyInfo\": {\n          \"address\": {\n              \"fips\": \"41051\",\n              \"house\": \"3584\",\n              \"address\": \"3584 SE HOLGATE BLVD\",\n              \"street\": \"HOLGATE\",\n              \"preDirection\": \"SE\",\n              \"streetType\": \"BLVD\",\n              \"city\": \"PORTLAND\",\n              \"state\": \"OR\",\n              \"zip\": \"97202\",\n              \"zip4\": \"3359\",\n              \"carrierRoute\": \"C033\",\n              \"congressionalDistrict\": \"329\",\n              \"label\": \"3584 SE HOLGATE BLVD, PORTLAND, OR 97202\"\n          },\n          \"propertyType\": \"SINGLE FAMILY RESIDENCE\",\n          \"latitude\": 45.49011300000000090903995442204177379608154296875,\n          \"longitude\": -122.627015000000000100044417195022106170654296875,\n          \"stories\": 2,\n          \"roomsCount\": 1,\n          \"bedrooms\": 3,\n          \"bathrooms\": 3,\n          \"partialBathrooms\": 0,\n          \"parkingSpaces\": 1,\n          \"lotSquareFeet\": 3392,\n          \"buildingSquareFeet\": 2953,\n          \"livingSquareFeet\": 2590,\n          \"yearBuilt\": 2017,\n          \"fireplace\": true,\n          \"fireplaces\": 1,\n          \"garageType\": \"11\",\n          \"garageSquareFeet\": 363,\n          \"basementType\": \"NO BASEMENT\",\n          \"basementSquareFeet\": 0,\n          \"basementSquareFeetFinished\": 0,\n          \"basementSquareFeetUnfinished\": \"0\",\n          \"heatingType\": \"FORCED AIR\",\n          \"heatingFuelType\": \"GAS\",\n          \"pool\": false,\n          \"garageSquareFeetFinished\": null,\n          \"garageSquareFeetUnfinished\": null,\n          \"basementSquareFeetUnFinished\": null,\n          \"basementFinishedPercent\": null\n      },\n      \"lotInfo\": {\n          \"legalDescription\": \"HEARN, BLOCK 2, LOT 2\",\n          \"subdivision\": \"HEARN\",\n          \"apn\": \"1S1E13AB 01700\",\n          \"apnUnformatted\": \"1S1E13AB01700\",\n          \"landUse\": \"Residential\",\n          \"propertyClass\": \"The general use for the property is for residential purposes\",\n          \"propertyType\": \"SINGLE FAMILY RESIDENCE\",\n          \"censusTract\": \"301\",\n          \"lotSquareFeet\": 3392,\n          \"lotAcres\": 0,\n          \"lotNumber\": \"2\",\n          \"zoning\": \"R5\"\n      },\n      \"taxInfo\": {\n          \"propertyId\": 175203,\n          \"year\": 2021,\n          \"taxAmount\": 863900,\n          \"assessmentYear\": 2021,\n          \"assessedValue\": 319520,\n          \"assessedImprovementValue\": \"0\",\n          \"marketValue\": 714400,\n          \"marketImprovementValue\": 487900,\n          \"marketLandValue\": 226500,\n          \"assessedLandValue\": 0\n      },\n      \"demographics\" : {\n\t\t\t\t\"medianIncome\" : \"130336\",\n \t\t\t\t\"suggestedRent\" : \"3010\",\n\t\t\t\t\"fmrYear\": \"2023\",\n\t\t\t\t\"fmrEfficiency\" : \"1750\",\n\t\t\t\t\"fmrOneBedroom\" : \"1780\",\n\t\t\t\t\"fmrTwoBedroom\" : \"2020\",\n\t\t\t\t\"fmrThreeBedroom\" : \"2530\",\n\t\t\t\t\"fmrFourBedroom\" : \"3010\",\n\t\t\t\t\"hudAreaName\" : \"Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area\",\n  \t\t\t\"hudAreaCode\" : \"METRO47900M47900\"\n\t\t\t},\n      \"currentMortgages\": [\n          {\n              \"seq\": \"0\",\n              \"position\": \"First\",\n              \"recordingDate\": \"2021-10-21T00:00:00.000Z\",\n              \"amount\": 543932,\n              \"interestRate\": 0,\n              \"documentDate\": \"2021-10-21T00:00:00.000Z\",\n              \"lenderName\": \"CALIBER HOME LOANS INC\",\n              \"deedType\": \"CONVENTIONAL\"\n          },\n          {\n              \"seq\": \"1\",\n              \"position\": \"Second\",\n              \"amount\": 0,\n              \"interestRate\": 0,\n              \"lenderName\": \"\",\n              \"recordingDate\": null,\n              \"documentDate\": null\n          }\n      ],\n      \"mortgageHistory\": [\n          {\n              \"recordingDate\": \"2021-10-21T00:00:00.000Z\",\n              \"amount\": 543932,\n              \"interestRate\": 0,\n              \"documentDate\": \"2021-10-21T00:00:00.000Z\",\n              \"maturityDate\": \"2582409600000\",\n              \"lenderName\": \"CALIBER HOME LOANS INC\",\n              \"term\": \"361\",\n              \"termType\": \"MONTH\",\n              \"deedType\": \"WARRANTY DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"loanType\": \"CONVENTIONAL\",\n              \"granteeName\": \"BRIENNA SHOWALTER BAILEY, NOEL WHEAT KENDEL\",\n              \"seq\": 0\n          },\n          {\n              \"recordingDate\": \"2017-06-09T00:00:00.000Z\",\n              \"amount\": 389000,\n              \"interestRate\": 0,\n              \"documentDate\": \"2017-06-09T00:00:00.000Z\",\n              \"maturityDate\": \"2443564800000\",\n              \"lenderName\": \"FIRST FIN'L BK&TR\",\n              \"term\": \"360\",\n              \"interestRateType\": \"UNKNOWN\",\n              \"termType\": \"MONTH\",\n              \"deedType\": \"WARRANTY DEED\",\n              \"transactionType\": \"SUBDIVISION RELATED TRANSFER\",\n              \"loanType\": \"CONVENTIONAL\",\n              \"granteeName\": \"DOUGLAS C MCCORD, TRACEY A MCCORD\",\n              \"seq\": 1\n          },\n          {\n              \"recordingDate\": \"2008-08-05T00:00:00.000Z\",\n              \"amount\": 236000,\n              \"documentDate\": \"2008-08-05T00:00:00.000Z\",\n              \"lenderName\": \"H & R BLOCK BANK\",\n              \"interestRateType\": \"ADJUSTABLE RATE\",\n              \"deedType\": \"DEED OF TRUST\",\n              \"transactionType\": \"MORTGAGE\",\n              \"granteeName\": \"RODRICK D HORNER, JOANN M HORNER\",\n              \"seq\": 2,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2008-07-22T00:00:00.000Z\",\n              \"amount\": 236000,\n              \"documentDate\": \"2008-07-22T00:00:00.000Z\",\n              \"lenderName\": \"H & R BLOCK BANK\",\n              \"interestRateType\": \"ADJUSTABLE RATE\",\n              \"deedType\": \"DEED OF TRUST\",\n              \"transactionType\": \"MORTGAGE\",\n              \"granteeName\": \"RODRICK D HORNER, JOANN M HORNER\",\n              \"seq\": 3,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2007-01-31T00:00:00.000Z\",\n              \"amount\": 231300,\n              \"documentDate\": \"2007-01-31T00:00:00.000Z\",\n              \"lenderName\": \"OPTION ONE MORTGAGE CORP\",\n              \"interestRateType\": \"ADJUSTABLE RATE\",\n              \"deedType\": \"DEED OF TRUST\",\n              \"transactionType\": \"MORTGAGE\",\n              \"granteeName\": \"RODRICK D HORNER, JOANN M HORNER\",\n              \"seq\": 4,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2005-03-15T00:00:00.000Z\",\n              \"amount\": 165000,\n              \"documentDate\": \"2005-03-15T00:00:00.000Z\",\n              \"lenderName\": \"CHERI D COOLEY\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"CONSTRUCTION SALE\",\n              \"loanType\": \"BUILDING OR CONSTRUCTION\",\n              \"granteeName\": \"WYNDYM DEV LLC\",\n              \"seq\": 5,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2005-03-15T00:00:00.000Z\",\n              \"amount\": 165000,\n              \"documentDate\": \"2005-03-15T00:00:00.000Z\",\n              \"lenderName\": \"CHERI D COOLEY\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"CONSTRUCTION SALE\",\n              \"loanType\": \"BUILDING OR CONSTRUCTION\",\n              \"granteeName\": \"WYNDYM DEV LLC\",\n              \"seq\": 6,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2003-08-19T00:00:00.000Z\",\n              \"amount\": 269000,\n              \"documentDate\": \"2003-08-19T00:00:00.000Z\",\n              \"lenderName\": \"FIRST MAGNUS FINANCIAL CORP\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"PAUL GAGNON\",\n              \"seq\": 7,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2003-08-19T00:00:00.000Z\",\n              \"amount\": 269000,\n              \"documentDate\": \"2003-08-19T00:00:00.000Z\",\n              \"lenderName\": \"FIRST MAGNUS FINANCIAL CORP\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"PAUL GAGNON\",\n              \"seq\": 8,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2003-01-03T00:00:00.000Z\",\n              \"amount\": 129150,\n              \"documentDate\": \"2003-01-03T00:00:00.000Z\",\n              \"lenderName\": \"EAGLE HOME MORTGAGE CO\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"SUBDIVISION RELATED TRANSFER\",\n              \"granteeName\": \"CHARLES V HOWLETT\",\n              \"seq\": 9,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2003-01-03T00:00:00.000Z\",\n              \"amount\": 129150,\n              \"documentDate\": \"2003-01-03T00:00:00.000Z\",\n              \"lenderName\": \"EAGLE HOME MORTGAGE CO\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"SUBDIVISION RELATED TRANSFER\",\n              \"granteeName\": \"CHARLES V HOWLETT\",\n              \"seq\": 10,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2002-07-08T00:00:00.000Z\",\n              \"amount\": 84000,\n              \"documentDate\": \"2002-07-08T00:00:00.000Z\",\n              \"lenderName\": \"CLUNAS DEVELOPMENT CO\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"Unknown\",\n              \"transactionType\": \"TRANSFER\",\n              \"loanType\": \"CONVENTIONAL WITH PMI\",\n              \"granteeName\": \"CHARLES V HOWLETT\",\n              \"seq\": 11,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2002-07-08T00:00:00.000Z\",\n              \"amount\": 84000,\n              \"documentDate\": \"2002-07-08T00:00:00.000Z\",\n              \"lenderName\": \"CLUNAS DEVELOPMENT CO\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"Unknown\",\n              \"transactionType\": \"TRANSFER\",\n              \"loanType\": \"CONVENTIONAL WITH PMI\",\n              \"granteeName\": \"CHARLES V HOWLETT\",\n              \"seq\": 12,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2002-07-08T00:00:00.000Z\",\n              \"amount\": 84000,\n              \"documentDate\": \"2002-07-08T00:00:00.000Z\",\n              \"lenderName\": \"CLUNAS DEVELOPMENT CO\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"Unknown\",\n              \"transactionType\": \"TRANSFER\",\n              \"loanType\": \"CONVENTIONAL WITH PMI\",\n              \"granteeName\": \"CHARLES V HOWLETT\",\n              \"seq\": 13,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"2002-07-08T00:00:00.000Z\",\n              \"amount\": 84000,\n              \"documentDate\": \"2002-07-08T00:00:00.000Z\",\n              \"lenderName\": \"CLUNAS DEVELOPMENT CO\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"Unknown\",\n              \"transactionType\": \"TRANSFER\",\n              \"loanType\": \"CONVENTIONAL WITH PMI\",\n              \"granteeName\": \"CHARLES V HOWLETT\",\n              \"seq\": 14,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"1997-10-02T00:00:00.000Z\",\n              \"amount\": 92000,\n              \"documentDate\": \"1997-10-02T00:00:00.000Z\",\n              \"lenderName\": \"SELLER\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"PATRICK R BOONE\",\n              \"seq\": 15,\n              \"interestRate\": null\n          },\n          {\n              \"recordingDate\": \"1997-10-02T00:00:00.000Z\",\n              \"amount\": 92000,\n              \"documentDate\": \"1997-10-02T00:00:00.000Z\",\n              \"lenderName\": \"SELLER\",\n              \"interestRateType\": \"FIXED RATE\",\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"PATRICK R BOONE\",\n              \"seq\": 16,\n              \"interestRate\": null\n          },\n          {\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"SUBDIVISION RELATED TRANSFER\",\n              \"granteeName\": \"RODRICK D HORNER, JOANN M HORNER\",\n              \"seq\": 17,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          },\n          {\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"CRESENT CUSTOM HOMES INC\",\n              \"seq\": 18,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          },\n          {\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"FIRST MAGNUS FINANCIAL CORP\",\n              \"seq\": 19,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          },\n          {\n              \"deedType\": \"GRANT DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"WYNDYM DEV LLC\",\n              \"seq\": 20,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          },\n          {\n              \"deedType\": \"QUIT CLAIM DEED\",\n              \"transactionType\": \"TRANSFER\",\n              \"granteeName\": \"COUNTRYWIDE HOME LOANS INC\",\n              \"seq\": 21,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          },\n          {\n              \"deedType\": \"TRUSTEES DEED\",\n              \"transactionType\": \"FORECLOSURE\",\n              \"granteeName\": \"FEDERAL HOME LOAN MTG CORP\",\n              \"seq\": 22,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          },\n          {\n              \"deedType\": \"DEED IN LIEU OF FORECLOSURE\",\n              \"transactionType\": \"FORECLOSURE\",\n              \"granteeName\": \"DLJ MTG CAP INC\",\n              \"seq\": 23,\n              \"amount\": null,\n              \"interestRate\": null,\n              \"recordingDate\": null,\n              \"documentDate\": null\n          }\n      ],\n      \"saleHistory\": [\n          {\n              \"recordingDate\": \"2021-10-21T00:00:00.000Z\",\n              \"saleDate\": \"2021-10-21T00:00:00.000Z\",\n              \"saleAmount\": 680000,\n              \"documentType\": \"DTWD\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"BRIENNA SHOWALTER BAILEY, NOEL WHEAT KENDEL\",\n              \"sellerNames\": \"DOUGLAS C MCCORD, TRACEY A MCCORD\",\n              \"purchaseMethod\": \"Financed\",\n              \"downPayment\": 136068,\n              \"ltv\": 79.9899999999999948840923025272786617279052734375,\n              \"seq\": 0\n          },\n          {\n              \"recordingDate\": \"2017-06-09T00:00:00.000Z\",\n              \"saleDate\": \"2017-06-08T00:00:00.000Z\",\n              \"saleAmount\": 589000,\n              \"documentType\": \"DTWD\",\n              \"transactionType\": \"50\",\n              \"buyerNames\": \"DOUGLAS C MCCORD, TRACEY A MCCORD\",\n              \"sellerNames\": \"CRESCENT CUSTOM HOMES INC\",\n              \"purchaseMethod\": \"Financed\",\n              \"downPayment\": 200000,\n              \"ltv\": 66.0441000000000002501110429875552654266357421875,\n              \"seq\": 1\n          },\n          {\n              \"recordingDate\": \"2015-11-13T00:00:00.000Z\",\n              \"saleDate\": \"2015-11-06T00:00:00.000Z\",\n              \"saleAmount\": 200000,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"CRESENT CUSTOM HOMES INC\",\n              \"sellerNames\": \"DLJ MTG CAP INC\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 2\n          },\n          {\n              \"recordingDate\": \"2014-06-04T00:00:00.000Z\",\n              \"saleDate\": \"2014-02-20T00:00:00.000Z\",\n              \"saleAmount\": 0,\n              \"documentType\": \"DTDL\",\n              \"transactionType\": \"20\",\n              \"buyerNames\": \"DLJ MTG CAP INC\",\n              \"sellerNames\": \"HORNER,RODRICK D & JOANN M\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 3\n          },\n          {\n              \"recordingDate\": \"2004-08-09T00:00:00.000Z\",\n              \"saleDate\": \"2004-07-29T00:00:00.000Z\",\n              \"saleAmount\": 91350,\n              \"documentType\": \"DTTD\",\n              \"transactionType\": \"20\",\n              \"buyerNames\": \"FEDERAL HOME LOAN MTG CORP\",\n              \"sellerNames\": \"TRANSNATION TITLE\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 4\n          },\n          {\n              \"recordingDate\": \"2005-07-25T00:00:00.000Z\",\n              \"saleAmount\": 0,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"50\",\n              \"buyerNames\": \"RODRICK D HORNER, JOANN M HORNER\",\n              \"sellerNames\": \"WYNDYM DEV LLC\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 5,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2003-08-19T00:00:00.000Z\",\n              \"saleAmount\": 269000,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"PAUL GAGNON\",\n              \"sellerNames\": \"HOWLETT,CHARLES V\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 100,\n              \"seq\": 6,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2005-02-04T00:00:00.000Z\",\n              \"saleAmount\": 0,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"FIRST MAGNUS FINANCIAL CORP\",\n              \"sellerNames\": \"COUNTRYWIDE HOME LOANS\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 7,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2003-01-03T00:00:00.000Z\",\n              \"saleAmount\": 89000,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"50\",\n              \"buyerNames\": \"CHARLES V HOWLETT\",\n              \"sellerNames\": \"CLUNAS DEVELOPMENT CO\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 145.112400000000008049028110690414905548095703125,\n              \"seq\": 8,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2005-03-15T00:00:00.000Z\",\n              \"saleAmount\": 117896,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"10\",\n              \"buyerNames\": \"WYNDYM DEV LLC\",\n              \"sellerNames\": \"FIRST MAGNUS FINANCIAL CORP\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 139.953900000000004411049303598701953887939453125,\n              \"seq\": 9,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"1997-10-02T00:00:00.000Z\",\n              \"saleAmount\": 92000,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"PATRICK R BOONE\",\n              \"sellerNames\": \"COX,PRISCILLA J\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 100,\n              \"seq\": 10,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2005-07-25T00:00:00.000Z\",\n              \"saleAmount\": 0,\n              \"documentType\": \"DTGD\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"WYNDYM DEV LLC\",\n              \"sellerNames\": \"COOLEY,CHERI D\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 11,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2005-02-04T00:00:00.000Z\",\n              \"saleAmount\": 0,\n              \"documentType\": \"DTQC\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"COUNTRYWIDE HOME LOANS INC\",\n              \"sellerNames\": \"FEDERAL NATIONAL MORTGAGE ASSN\",\n              \"purchaseMethod\": \"Cash Purchase\",\n              \"downPayment\": 0,\n              \"ltv\": 0,\n              \"seq\": 12,\n              \"saleDate\": null\n          },\n          {\n              \"recordingDate\": \"2002-07-08T00:00:00.000Z\",\n              \"saleAmount\": 89000,\n              \"documentType\": \"XXXX\",\n              \"transactionType\": \"40\",\n              \"buyerNames\": \"CHARLES V HOWLETT\",\n              \"sellerNames\": \"CLUNAS DEVELOPMENT CO\",\n              \"purchaseMethod\": \"Financed\",\n              \"downPayment\": 5000,\n              \"ltv\": 94.38200000000000500222085975110530853271484375,\n              \"seq\": 13,\n              \"saleDate\": null\n          }\n      ],\n      \"foreclosureInfo\": []\n    },\n      {\n        //a new object for each additional \"id\" provided to the bulk API\n      }\n  ],\n  statusCode: 200,\n  statusMessage: 'Success',\n  credits: 10\n}"
                                    }
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-readme": {
                    "code-samples": [
                        {
                            "language": "curl",
                            "code": "curl --request POST \\\n  --url https://api.realestateapi.com/v2/PropertyDetailBulk \\\n  --header 'Content-Type: application/json' \\\n  --header 'x-api-key: <<your api key>> ' \\\n  --data '{\n  \"ids\": [718293, 920392, 811232]\n}'"
                        }
                    ],
                    "samples-languages": [
                        "curl"
                    ]
                }
            }
        },
        "/v2/PropertySearch": {
            "post": {
                "summary": "Property Search API",
                "description": "Searchable API for list building, search counts, and advanced filtering on properties.  You can also use this API to implement your own comparables API, or property analytics API.  Questions?  Contact our team to ask us for best practices with using this API.This API implements easy paging so your apps can easily manage filtered results in a results pane with paging.  When your user clicks on a result, just use the id from this API to get the full property results using the Property Detail API.  Questions on best practices for implementing paged property results in your app?  Just contact our team.",
                "operationId": "property-search-api",
                "parameters": [
                    {
                        "name": "x-api-key",
                        "in": "header",
                        "description": "User's API key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-user-id",
                        "in": "header",
                        "description": "Denote a unique user identifier to this api call by passing it in this header field",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "count": {
                                        "type": "boolean",
                                        "description": "Set to true to only return the count for the total  number of records that would be returned for the search and not the records themselves."
                                    },
                                    "ids": {
                                        "type": "array",
                                        "description": "Provide a list of property IDs from past or saved Property Searches to pull back all of the enriched fields",
                                        "items": {
                                            "type": "integer",
                                            "format": "int32"
                                        }
                                    },
                                    "ids_only": {
                                        "type": "boolean",
                                        "description": "Returns up to 10,000 property IDs matching your search criteria. When provided, the \"size\" and \"resultIndex\" will be ignored.",
                                        "default": false
                                    },
                                    "obfuscate": {
                                        "type": "boolean",
                                        "description": "Will remove the address and name fields on the properties returned",
                                        "default": false
                                    },
                                    "sort": {
                                        "type": "object",
                                        "description": "Sorts result set based on user defined sorting definitions across the Property Search fields",
                                        "properties": {}
                                    },
                                    "summary": {
                                        "type": "boolean",
                                        "description": "Returns an aggregation of all lead types in a summary object. The summary object will return totals for each lead type within the context of the given search.",
                                        "default": false
                                    },
                                    "resultIndex": {
                                        "type": "integer",
                                        "description": "Used with size to accomplish paging.  The server will skip the number of records specified by resultIndex, and return the records starting after the resultIndex.  The total number of records returned will not be greater than the size specified, or a max of 250 set by the server.",
                                        "format": "int32"
                                    },
                                    "size": {
                                        "type": "integer",
                                        "description": "Set to the maximum number of records that the server can return for the search.  Used in conjunction with resultIndex for paging results.",
                                        "default": 50,
                                        "format": "int32"
                                    },
                                    "address": {
                                        "type": "string",
                                        "description": "Fully formatted address for a property search.  This should include house, street, city, state and zip"
                                    },
                                    "house": {
                                        "type": "string",
                                        "description": "Used to search for specific house numbers.   Must be accompanied with state or zip to limit results."
                                    },
                                    "street": {
                                        "type": "string",
                                        "description": "Used to search searching street names only.  Must be accompanied with state or zip to limit results."
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "Used to search within a city only.  Must be accompanied with state or zip to limit results."
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "Used to search within a state.  Must be accompanied by city, house, or street to limit results."
                                    },
                                    "county": {
                                        "type": "string",
                                        "description": "Used to search within a county.  Must be accompanied by state, or zip."
                                    },
                                    "zip": {
                                        "type": "string",
                                        "description": "Used to search within a US zip code. An array of zips (of type:string) can also be provided to this field."
                                    },
                                    "latitude": {
                                        "type": "number",
                                        "description": "If latitude & longitude are provided, the search radius will be calculated with that set of coordinates as center",
                                        "format": "float"
                                    },
                                    "longitude": {
                                        "type": "number",
                                        "description": "If latitude & longitude are provided, the search radius will be calculated with that set of coordinates as center",
                                        "format": "float"
                                    },
                                    "radius": {
                                        "type": "number",
                                        "description": "Provide a search radius between 0.1-10 miles for narrowing your search",
                                        "format": "float"
                                    },
                                    "polygon": {
                                        "type": "array",
                                        "description": "Provide an array of latitude/longitude pairs for the Geo portion of your query",
                                        "items": {
                                            "properties": {
                                                "lat": {
                                                    "type": "number",
                                                    "format": "double"
                                                },
                                                "lon": {
                                                    "type": "number",
                                                    "format": "double"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "multi_polygon": {
                                        "type": "array",
                                        "description": "Minimum of 1 polygon",
                                        "items": {
                                            "properties": {
                                                "boundaries": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "lat": {
                                                                "type": "number",
                                                                "format": "double"
                                                            },
                                                            "lon": {
                                                                "type": "number",
                                                                "format": "double"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "property_type": {
                                        "type": "string",
                                        "description": "Provide the type of residences/properties you are looking for",
                                        "enum": [
                                            "SFR",
                                            "MFR",
                                            "LAND",
                                            "CONDO",
                                            "MOBILE",
                                            "OTHER"
                                        ]
                                    },
                                    "property_use_code": {
                                        "type": "integer",
                                        "description": "Also accepts an Array of Integers, where each integer is one of our accepted Property Use Codes. See all codes here: https://developer.realestateapi.com/reference/property-use-codes-reference",
                                        "format": "int32"
                                    },
                                    "mls_active": {
                                        "type": "boolean",
                                        "description": "Find active MLS listings"
                                    },
                                    "mls_pending": {
                                        "type": "boolean",
                                        "description": "Find pending MLS sales that are expected to close"
                                    },
                                    "mls_cancelled": {
                                        "type": "boolean",
                                        "description": "Find terminated MLS listings"
                                    },
                                    "mls_sold": {
                                        "type": "boolean",
                                        "description": "Find sold MLS listings"
                                    },
                                    "mls_days_on_market_min": {
                                        "type": "integer",
                                        "description": "Find properties that have been on the market for a certain amount of days. Use with \"mls_active\": true, \"mls_pending\": true or \"mls_cancelled\": true",
                                        "format": "int32"
                                    },
                                    "mls_days_on_market_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "mls_listing_price_min": {
                                        "type": "integer",
                                        "description": "Lower bound used with mls_listing_max to only find properties with MLS listing prices within a defined range",
                                        "format": "int32"
                                    },
                                    "mls_listing_price_max": {
                                        "type": "integer",
                                        "description": "Minimum value of 1",
                                        "format": "int32"
                                    },
                                    "mls_listing_price": {
                                        "type": "integer",
                                        "description": "The official MLS listing price for the property",
                                        "format": "int32"
                                    },
                                    "mls_listing_price_operator": {
                                        "type": "string",
                                        "description": "mls_operator is to be used with mls_listing_price to indicate a range less than or greater than starting with that listing price. For example, { mls_listing_price: 100000, mls_operator: 'gte' } would retrieve all properties with an MLS listing price of $100,000 or more",
                                        "enum": [
                                            "lt",
                                            "lte",
                                            "gt",
                                            "gte"
                                        ]
                                    },
                                    "id": {
                                        "type": "string",
                                        "description": "AutoComplete Field. Can be a string or an integer. Represents the unique property id in the case of full address autocomplete searches."
                                    },
                                    "apn": {
                                        "type": "string",
                                        "description": "AutoComplete Field. The Property's unique tax assessor identifier, returned as part of the AutoComplete API response."
                                    },
                                    "stateId": {
                                        "type": "string",
                                        "description": "AutoComplete Field."
                                    },
                                    "countyId": {
                                        "type": "string",
                                        "description": "AutoComplete Field."
                                    },
                                    "neighborhood_id": {
                                        "type": "integer",
                                        "description": "Autocomplete field.",
                                        "format": "int32"
                                    },
                                    "neighborhood_name": {
                                        "type": "string",
                                        "description": "Autocomplete field."
                                    },
                                    "searchType": {
                                        "type": "string",
                                        "description": "AutoComplete Field. A = full address ; C = city ; N = county; S = street ; Z = zip; G = neighborhood; T = state",
                                        "enum": [
                                            "A",
                                            "C",
                                            "N",
                                            "S",
                                            "Z",
                                            "G",
                                            "T"
                                        ]
                                    },
                                    "fips": {
                                        "type": "string",
                                        "description": "AutoComplete Field."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "AutoComplete Field."
                                    },
                                    "absentee_owner": {
                                        "type": "boolean",
                                        "description": "Used for searching for properties where the owner is not currently a resident.  Generally signifies a tenant or non-owner occupied property."
                                    },
                                    "adjustable_rate": {
                                        "type": "boolean",
                                        "description": "Indicates if the current mortgage on the property has an adjustable rate."
                                    },
                                    "assumable": {
                                        "type": "boolean",
                                        "description": "Indicates if the mortgage on a given property is assumable."
                                    },
                                    "attic": {
                                        "type": "boolean"
                                    },
                                    "auction": {
                                        "type": "boolean",
                                        "description": "Used to find properties with an auction date.  Used with search_range or a default max of 1 year."
                                    },
                                    "basement": {
                                        "type": "boolean",
                                        "description": "Used to find properties with a basement."
                                    },
                                    "breezeway": {
                                        "type": "boolean"
                                    },
                                    "carport": {
                                        "type": "boolean",
                                        "description": "Indicates properties with a carport structure."
                                    },
                                    "cash_buyer": {
                                        "type": "boolean",
                                        "description": "Indicates if the property ownership is subsequent to an all cash transaction"
                                    },
                                    "corporate_owned": {
                                        "type": "boolean",
                                        "description": "Used to find properties where one of the owners is company."
                                    },
                                    "death": {
                                        "type": "boolean",
                                        "description": "Used to find properties where the property owner on the deed is recently deceased. Can be used for probate lists."
                                    },
                                    "deck": {
                                        "type": "boolean",
                                        "description": "Used to find properties that have a deck"
                                    },
                                    "feature_balcony": {
                                        "type": "boolean",
                                        "description": "Used to find properties with a balcony."
                                    },
                                    "fire_sprinklers": {
                                        "type": "boolean",
                                        "description": "Used to find properties with registered fire sprinkler fixtures."
                                    },
                                    "flood_zone": {
                                        "type": "boolean",
                                        "description": "Indicates if the property is in a flood zone area. This flag can be used in conjunction with \"flood_zone_type\" to get more specific result sets."
                                    },
                                    "foreclosure": {
                                        "type": "boolean",
                                        "description": "Used to find properties in foreclosure.  Used with search_range or a default max of 1 year."
                                    },
                                    "free_clear": {
                                        "type": "boolean",
                                        "description": "Used to find properties without an open mortgage."
                                    },
                                    "garage": {
                                        "type": "boolean",
                                        "description": "Used to find properties with a physical structure marked for garage use."
                                    },
                                    "high_equity": {
                                        "type": "boolean",
                                        "description": "Indicates properties with high equity (>39%)"
                                    },
                                    "inherited": {
                                        "type": "boolean",
                                        "description": "Set to true to search inherited properties"
                                    },
                                    "in_state_owner": {
                                        "type": "boolean",
                                        "description": "Used to find properties with an owner whose mailing address is in the same state as the property address."
                                    },
                                    "investor_buyer": {
                                        "type": "boolean",
                                        "description": "Signals that the property was cash purchased by an absentee owner/investor, rather than individual like with the cash_buyer flag"
                                    },
                                    "judgment": {
                                        "type": "boolean",
                                        "description": "Used to find properties where a lawsuit has been filed against a property owner or a party involved in a real estate transaction, and the court rules in favor of one of the parties, and issued a judgment."
                                    },
                                    "mfh_2to4": {
                                        "type": "boolean",
                                        "description": "Multi-family homes with 2 to 4 units"
                                    },
                                    "mfh_5plus": {
                                        "type": "boolean",
                                        "description": "Multi-family homes with 5 or more units"
                                    },
                                    "out_of_state_owner": {
                                        "type": "boolean",
                                        "description": "Used to find properties with an owner whose mailing address is in a different state as the property address."
                                    },
                                    "patio": {
                                        "type": "boolean",
                                        "description": "Used to find properties with a patio"
                                    },
                                    "pool": {
                                        "type": "boolean",
                                        "description": "Used to find properties with a pool"
                                    },
                                    "pre_foreclosure": {
                                        "type": "boolean",
                                        "description": "Used to find poperties that have received any notice of preforeclosure.   Used with search_range or a default max of 1 year."
                                    },
                                    "prior_owner_individual": {
                                        "type": "boolean",
                                        "description": "Helps determine what properties are the result of a Flip. Use with \"prior_owner_months_owned_min\"/\"prior_owner_months_owned_max\""
                                    },
                                    "private_lender": {
                                        "type": "boolean",
                                        "description": "Returns all properties that are currently financed by a private lender"
                                    },
                                    "quit_claim": {
                                        "type": "boolean",
                                        "description": "Indicates if the property ownership was subsequent to a quit claim"
                                    },
                                    "reo": {
                                        "type": "boolean",
                                        "description": "Used to find properties owned by a bank, trust, services entity, or tax entity.  Used with search_range or a default max of 1 year."
                                    },
                                    "rv_parking": {
                                        "type": "boolean",
                                        "description": "The property is designated as having RV Parking"
                                    },
                                    "tax_lien": {
                                        "type": "boolean",
                                        "description": "Find properties where there is a tax lien against the property"
                                    },
                                    "trust_owned": {
                                        "type": "boolean",
                                        "description": "The property is owned by a Trust"
                                    },
                                    "vacant": {
                                        "type": "boolean",
                                        "description": "Used to find properties that are vacant"
                                    },
                                    "census_block": {
                                        "type": "string",
                                        "description": "Values 1000-5000"
                                    },
                                    "census_block_group": {
                                        "type": "string",
                                        "description": "Values 0-10"
                                    },
                                    "census_tract": {
                                        "type": "string",
                                        "description": "Official tract number from the U.S. Census Bureau"
                                    },
                                    "construction": {
                                        "type": "string",
                                        "description": "Full list of construction types: https://developer.realestateapi.com/reference/construction-types"
                                    },
                                    "document_type_code": {
                                        "type": "string",
                                        "description": "Used to find a specific document type for more granular searches other than the booleans provided.  This field can also be assigned an array of document type codes. Used in conjunction with search_range, or a maximum default value of 1 year."
                                    },
                                    "flood_zone_type": {
                                        "type": "string",
                                        "description": "B, C, X (for moderate to low risk areas); A, AE, A1-30, AH, AO, AR, A99, V, VE, V1 - V30 (High Risk - Coastal Areas); D (Undetermined Risk Zone)"
                                    },
                                    "loan_type_code_first": {
                                        "type": "string",
                                        "description": "Refer to the Loan Codes that are searchable://developer.realestateapi.com/reference/loan-type-codes"
                                    },
                                    "loan_type_code_second": {
                                        "type": "string"
                                    },
                                    "loan_type_code_third": {
                                        "type": "string"
                                    },
                                    "notice_type": {
                                        "type": "string",
                                        "description": "Search by the Recording Date of the .foreclosureInfo data for the specified notice type",
                                        "enum": [
                                            "FOR",
                                            "NOD",
                                            "NOL",
                                            "NTS",
                                            "REO"
                                        ]
                                    },
                                    "parcel_account_number": {
                                        "type": "string",
                                        "description": "e.g. 05-00925.01"
                                    },
                                    "search_range": {
                                        "type": "string",
                                        "description": "Used in conjunction for reo, auction, foreclosure, and preforeclosure searches to limit the search to only return records where the event happened within the provided range.  All ranges work from NOW back to the provided range.",
                                        "enum": [
                                            "1_MONTH",
                                            "2_MONTH",
                                            "3_MONTH",
                                            "6_MONTH",
                                            "1_YEAR"
                                        ]
                                    },
                                    "sewage": {
                                        "type": "string",
                                        "description": "Options: Municipal, Yes, Septic, None, Storm"
                                    },
                                    "water_source": {
                                        "type": "string",
                                        "description": "Full list of water source types you can filter by: https://developer.realestateapi.com/reference/water-source-searches"
                                    },
                                    "estimated_equity": {
                                        "type": "integer",
                                        "description": "Used in conjunction with the equity_percent_operator to find properties where the estimated equity amount is greater than or less than the value provided.  Equity dollar amount is computed as the difference of the estimated value less any known open mortgages.",
                                        "format": "int32"
                                    },
                                    "equity_operator": {
                                        "type": "string",
                                        "description": "Comparison operator for searches using estimated_equity.  Returns properties based on a greater than, or less than operation coupled with the value provided for estimated_equity which is based on total dollars of equity estimated from the estimated value and any known open mortgages.",
                                        "enum": [
                                            "lt",
                                            "lte",
                                            "gt",
                                            "gte"
                                        ]
                                    },
                                    "equity_percent": {
                                        "type": "integer",
                                        "description": "Used in conjunction with the equity_percent_operator to find properties where the equity percentage is greater than or less than the value provided.  Equity percentage is a based on the difference of the computed LTV.",
                                        "format": "int32"
                                    },
                                    "equity_percent_operator": {
                                        "type": "string",
                                        "description": "Comparison operator for searches using equity_percent.  Returns properties based on a greater than, or less than operation coupled with the value provided for equity_percent which is based on the difference of the calculated LTV.",
                                        "enum": [
                                            "lt",
                                            "lte",
                                            "gt",
                                            "gte"
                                        ]
                                    },
                                    "last_sale_date": {
                                        "type": "string",
                                        "description": "Find properties based on the date of the last sale history transaction",
                                        "format": "date"
                                    },
                                    "last_sale_date_operator": {
                                        "type": "string",
                                        "description": "Used in conjunction with \"last_sale_date\" to find properties that satisfy the range for when they were last sold in a transaction.",
                                        "enum": [
                                            "lt",
                                            "lte",
                                            "gt",
                                            "gte"
                                        ]
                                    },
                                    "median_income": {
                                        "type": "integer",
                                        "description": "Find properties based on the median income of the Areas that contain the properties",
                                        "format": "int32"
                                    },
                                    "median_income_operator": {
                                        "type": "string",
                                        "description": "Used in conjunction with the \"median_income\" field in order to specify the range lower or higher you want to look at from the given median_income.",
                                        "enum": [
                                            "lt",
                                            "lte",
                                            "gt",
                                            "gte"
                                        ]
                                    },
                                    "years_owned": {
                                        "type": "integer",
                                        "description": "Number value of the years owned you are searching for. To be used with years_owned_operator",
                                        "format": "int32"
                                    },
                                    "years_owned_operator": {
                                        "type": "string",
                                        "description": "Operator for less than and greater than searches on years_owned field",
                                        "enum": [
                                            "lt",
                                            "lte",
                                            "gt",
                                            "gte"
                                        ]
                                    },
                                    "assessed_improvement_value_min": {
                                        "type": "integer",
                                        "description": "Value range search against the county assessed improvement value",
                                        "format": "int32"
                                    },
                                    "assessed_improvement_value_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "assessed_land_value_min": {
                                        "type": "integer",
                                        "description": "Value range search against the county assessed land value",
                                        "format": "int32"
                                    },
                                    "assessed_land_value_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "assessed_value_min": {
                                        "type": "integer",
                                        "description": "Value range search against the county assessed value",
                                        "format": "int32"
                                    },
                                    "assessed_value_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "auction_date_min": {
                                        "type": "string",
                                        "description": "filter on dates of upcoming foreclosure auctions (e.g. Current Date \"2024-05-01\" & set a future date range of \"2024-05-15\" to \"2024-05-30\"). Use with \"auction\": true",
                                        "format": "date"
                                    },
                                    "auction_date_max": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "baths_min": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with bathrooms between a min and max.  Minimum numbers of bathrooms for the given property search",
                                        "format": "int32"
                                    },
                                    "baths_max": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with bathrooms between a min and max.  Maximum numbers of bathrooms for the given property search",
                                        "format": "int32"
                                    },
                                    "beds_min": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with bedrooms between a min and max.  Minimum numbers of bedrooms for the given property search",
                                        "format": "int32"
                                    },
                                    "beds_max": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with bedrooms between a min and max.  Maximum numbers of bedrooms for the given property search",
                                        "format": "int32"
                                    },
                                    "building_size_min": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with an interior, living square footage between a min and max.  Minimum square footage of the interior living space for the given property search",
                                        "format": "int32"
                                    },
                                    "building_size_max": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with an interior, living square footage between a min and max.  Maximum square footage of the interior living space for the given property search",
                                        "format": "int32"
                                    },
                                    "deck_area_min": {
                                        "type": "integer",
                                        "description": "In sq. ft.",
                                        "format": "int32"
                                    },
                                    "deck_area_max": {
                                        "type": "string",
                                        "description": "In sq. ft."
                                    },
                                    "estimated_equity_min": {
                                        "type": "integer",
                                        "description": "Filter for properties based on the nominal value of equity owners have in their homes. Works well with \"value_min\"/\"value_max\".",
                                        "format": "int32"
                                    },
                                    "estimated_equity_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "foreclosure_date_min": {
                                        "type": "string",
                                        "description": "Filter for properties based on a date range for when a specific Foreclosure document was recorded - use with \"foreclosure\": true & \"notice_type\"",
                                        "format": "date"
                                    },
                                    "foreclosure_date_max": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "last_sale_date_min": {
                                        "type": "string",
                                        "description": "Minimum Date for the last sale transaction date",
                                        "format": "date"
                                    },
                                    "last_sale_date_max": {
                                        "type": "string",
                                        "description": "Maximum Date for the last sale transaction date",
                                        "format": "date"
                                    },
                                    "last_sale_price_min": {
                                        "type": "integer",
                                        "description": "Filter for properties based on a Last Sale Price range.",
                                        "format": "int32"
                                    },
                                    "last_sale_price_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "lot_size_min": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with lot sizes between a min and max.  Minimum square footage of the exterior lot  built for the given property search",
                                        "format": "int32"
                                    },
                                    "lot_size_max": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with lot sizes between a min and max.  Maximum square footage of the exterior lot  built for the given property search",
                                        "format": "int32"
                                    },
                                    "ltv_min": {
                                        "type": "integer",
                                        "description": "Min. of 0",
                                        "format": "int32"
                                    },
                                    "ltv_max": {
                                        "type": "string",
                                        "description": "Max of 100"
                                    },
                                    "median_income_min": {
                                        "type": "integer",
                                        "description": "Filter for properties that are within a certain range of median income (Zipcode-level)",
                                        "format": "int32"
                                    },
                                    "median_income_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "mortgage_min": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with an estimated total of open mortgages between a min and max.  Minimum estimated amount for all open mortgages for the given property search.",
                                        "format": "int32"
                                    },
                                    "mortgage_max": {
                                        "type": "integer",
                                        "description": "Used for searching a range of properties with an estimated total of open mortgages between a min and max.  Maximum estimated amount for all open mortgages for the given property search.",
                                        "format": "int32"
                                    },
                                    "rooms_min": {
                                        "type": "integer",
                                        "description": "Used for setting the minimum on the number of total rooms you want your properties to have.",
                                        "format": "int32"
                                    },
                                    "rooms_max": {
                                        "type": "integer",
                                        "description": "Used for setting the maximum on the number of total rooms you want your properties to have.",
                                        "format": "int32"
                                    },
                                    "pool_area_min": {
                                        "type": "integer",
                                        "description": "In sq. ft.",
                                        "format": "int32"
                                    },
                                    "pool_area_max": {
                                        "type": "integer",
                                        "description": "In sq. ft.",
                                        "format": "int32"
                                    },
                                    "portfolio_equity_min": {
                                        "type": "integer",
                                        "description": "Used to find properties where the minimum ownership interest or the stake that an investor has in the portfolio is as specified. Portfolio equity is the difference between the total value of the portfolio and any outstanding debts or liabilities related to the portfolio.",
                                        "format": "int32"
                                    },
                                    "portfolio_equity_max": {
                                        "type": "integer",
                                        "description": "Used to find properties where the maximum ownership interest or the stake that an investor has in the portfolio is as specified. Portfolio equity is the difference between the total value of the portfolio and any outstanding debts or liabilities related to the portfolio.",
                                        "format": "int32"
                                    },
                                    "portfolio_mortgage_balance_min": {
                                        "type": "integer",
                                        "description": "Filter for properties based on the remaining open mortgage balance of the Portfolio for Owners with > 1 property",
                                        "format": "int32"
                                    },
                                    "portfolio_mortgage_balance_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "portfolio_purchased_last12_min": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "portfolio_purchased_last12_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "portfolio_purchased_last6_min": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "portfolio_purchased_last6_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "portfolio_value_min": {
                                        "type": "integer",
                                        "description": "Filter for properties based on the Total Value of the Portfolio for Owners with > 1 property",
                                        "format": "int32"
                                    },
                                    "portfolio_value_max": {
                                        "type": "integer",
                                        "format": "int32"
                                    },
                                    "pre_foreclosure_date_min": {
                                        "type": "string",
                                        "description": "Filter by the Recording Date of Pre-Foreclosure Related Documents. Use with \"pre_foreclosure\": true",
                                        "format": "date"
                                    },
                                    "pre_foreclosure_date_max": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "prior_owner_months_owned_min": {
                                        "type": "integer",
                                        "description": "Define the time range for what constitutes a \"Flip\" period between the last 2 transactions",
                                        "format": "int32"
                                    },
                                    "prior_owner_months_owned_max": {
                                        "type": "integer",
                                        "format": "int32"
[...]
